* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}

body {
  background-color: coral;

  main {
    width: 80%;
    height: 100vh;
    margin: 0 auto;
    padding: 0 5%;
    background-color: white;

    header {
      width: 100%;
      padding: 50px 0 75px;
      display: flex;
      justify-content: center;

      h1 {
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS',
          sans-serif;
        font-weight: 700;
        text-transform: uppercase;
        text-align: center;
      }
    }

    section {
      width: 100%;
      display: flex;
      justify-content: center;

      div.listado {
        width: 50%;

        h2 {
          font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS',
            sans-serif;
          font-weight: 500;
          font-size: 20px;
          text-transform: uppercase;
          text-align: center;
        }
      }
      div.form {
        width: 50%;

        h2 {
          font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS',
            sans-serif;
          font-weight: 500;
          font-size: 20px;
          text-transform: uppercase;
          text-align: center;
          margin-bottom: 25px;
        }

        form.agregar {
          display: flex;
          flex-wrap: wrap;
          justify-content: space-between;
          margin-bottom: 10px;

          input {
            width: 49.5%;
            margin: 2px 0;
            border-width: 1px;
            border-color: lightgrey;
            border-radius: 3px;
            padding: 5px;

            font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS',
              sans-serif;
            font-weight: 500;
            font-size: 13px;
            color: grey;
          }

          .submit-add {
            background-color: rgb(57, 196, 57);
            width: 100%;
            margin: 4px 0 0;
            padding: 7px;
            border-width: 0;

            text-transform: uppercase;
            font-size: 15px;

            color: white;
          }
        }

        form.del-search {
          display: flex;
          flex-wrap: wrap;
          justify-content: space-between;
          margin-top: 3px;

          input {
            width: 49.5%;
            margin: 2px 0;
            border-width: 1px;
            border-color: lightgrey;
            border-radius: 3px;
            padding: 5px;

            font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS',
              sans-serif;
            font-weight: 500;
            font-size: 13px;
            color: grey;
          }

          .submit-del {
            background-color: salmon;
            border-width: 0;

            text-transform: uppercase;
            font-size: 15px;

            color: white;
          }

          .submit-search {
            background-color: cornflowerblue;
            border-width: 0;

            text-transform: uppercase;
            font-size: 15px;

            color: white;
          }
        }
      }
    }
  }
}
